body{
  box-sizing: border-box;
}
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  form{
    max-width: 350px;
  }

  
  mat-form-field {
    width: 100%;
  }

  .example-right-align {
    
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  button {
    box-sizing: border-box;
    width: 48%;
    margin-top: 20px;
  }

  input.example-right-align {
    -moz-appearance: textfield;
  }
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  #scelta {
    max-width: 350px;
    width:100%;
    margin-left:auto; margin-right: auto;;
  }